# ----------------------------------------------------
# ENVIRONMENT VARIABLES
# ----------------------------------------------------

PORT=your-port-number

AWS_REGION=your-aws-region
AWS_S3_BUCKET_NAME=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-access-key